// Fontes
$fonte: 'Roboto', sans-serif;


// Cores

$cor-body: #F6F7D7;
$cor-primaria: #BF9270;
$cor-secundaria: #d8a98f;
$cor-terciaria: #FFEDDB;
$cor-extra-primaria: #7D5A50;


//Tamanho das fontes

$tamanho-do-texto: 3rem;